#bak_0 {
    MARGIN: 0 auto;
    left: 0;
    WIDTH: 350px;
    min-HEIGHT: 540px;
}

#passMa {
    width: 100%;
    height: 88px;
    margin-top: -20px;
    background-size: 350px;
}

#rl {
    height: 280px;
    border: 0px;
}

#student {
    background-image: url("../images/生.jpg");
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 260px 0;
}

a:link {
    text-decoration: none;
}


/* unvisited link */

a:visited {
    text-decoration: none;
}


/* visited link */

a:hover {
    text-decoration: underline;
}


/* mouse over link */